@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

.view,
body,
html {
    height: 100%;
    color: white;
    background-color: black;
    font-family: 'Spartan', sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}